<h3>International Ataturk Alatoo University<br>
  Faculty of Economics and Administrative Sciences<br>
  Department of International Relations </h3>
<br>
<h4>Descriptions of Undergraduate Courses </h4>

<div class="course-cont">
    <div class="course">
      <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO201 Introduction to Economics I</h4></div>
      <div class="course-descr">
        Nature, scope and methods of economics; a general view of the price system; consumer behavior; theory of the firm. Illustrations from the Kyrgyz economy will be given.<br>
        1.Provide students with a fundamental understanding of economics.<br>
        2.Develop basic skills in analyzing microeconomic and macroeconomic theory.<br>
        3.Incorporate current events into class discussions to provide "real world" applications.<br>
        The economic problem; theories of supply and demand; various market structures; theory of distribution.<br>
      </div>
    </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO202 Introduction to Economics II</h4></div>
    <div class="course-descr">
      National income and its determination; changes in national income, elements of public finance, money and banking, international trade, macroeconomic policy,
      economic growth and development. Illustrations from the Kyrgyz economy will be given.
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO201 Introduction to Economics I</h4></div>
    <div class="course-descr">
      Nature, scope and methods of economics; a general view of the price system; consumer behavior; theory of the firm. Illustrations from the Kyrgyz economy will be given.<br>
      1.Provide students with a fundamental understanding of economics.<br>
      2.Develop basic skills in analyzing microeconomic and macroeconomic theory.<br>
      3.Incorporate current events into class discussions to provide "real world" applications.<br>
      The economic problem; theories of supply and demand; various market structures; theory of distribution.<br>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO202 Introduction to Economics II</h4></div>
    <div class="course-descr">
      National income and its determination; changes in national income, elements of public finance, money and banking, international trade, macroeconomic policy,
      economic growth and development. Illustrations from the Kyrgyz economy will be given.
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO201 Introduction to Economics I</h4></div>
    <div class="course-descr">
      Nature, scope and methods of economics; a general view of the price system; consumer behavior; theory of the firm. Illustrations from the Kyrgyz economy will be given.<br>
      1.Provide students with a fundamental understanding of economics.<br>
      2.Develop basic skills in analyzing microeconomic and macroeconomic theory.<br>
      3.Incorporate current events into class discussions to provide "real world" applications.<br>
      The economic problem; theories of supply and demand; various market structures; theory of distribution.<br>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO202 Introduction to Economics II</h4></div>
    <div class="course-descr">
      National income and its determination; changes in national income, elements of public finance, money and banking, international trade, macroeconomic policy,
      economic growth and development. Illustrations from the Kyrgyz economy will be given.
    </div>
  </div>
  <div class="clear"></div>
</div>