<% @title="Exchange | Internation Relations Department | IAAU" %>

<h2>Student Exchange Opportunities</h2>

<p>
  IAAU pays more attention to student exchange programs with the aim to improve the world view of the students, to take information among the variety of
  academic sources, to create new linkages and friendships. In connection with this, our university signed a series of protocols with different universities,
  and negotiations are being carried out on new protocols on exchange of students with universities around the world.
</p>
<p>
  So far, more than fifty of our students have been sent to different universities through student exchange programs. You can get more information from our Center of International Affairs.
</p>
<p>
  The Center of International Affairs coordinates exchange programs, prepares collaboration agreements with universities and institutions from different
  countries around the world, and assists current and prospective international students to adapt the environment of university
  in Kyrgyzstan. Additionally, CIA coordinates the visiting programs of the quests from different countries.
</p>
<p>
  We are working on Student Exchange Development Programmes since 2005 with such partner universities as:
  <ul>
    <li><b>Fatih University</b>, Turkey</li>
    <li><b>Pamukkale University</b>, Turkey</li>
    <li><b>Illinois Institute of Technology</b>, USA</li>
    <li><b>University of Malaya</b>, Malaysia and others.</li>
  </ul>
</p>

<h3>Aims of the Programme</h3>

<p>
    <b>1.</b>
    Development of Academic and education process in IAAU,
    <br>
    <b>2.</b>
    Exchange of undergraduate, postgraduate and doctoral students for education, practical training and participation in international programmes and the students to be awarded with an academic recognition of their studies abroad,
    <br>
    <b>3.</b>
    Short-term visits of senior members of staff for consultations, lectures and project planning.
    <br>
    <b>4.</b>
    Conducting joint conferences on globalization in the modern world of international cooperation, regional studies. Round tables, workshops, etc.
    <br>
    <b>5.</b>
    Exchange of academic information, academic publications, textbooks and periodical literature between the two universities,
    <br>
    <b>6.</b>
    Cooperation in research and development.
</p>