<% @title="Faculty and Staff | Internation Relations Department | IAAU" %>

<h2>Staff of the Department</h2>

<div class="staff-item-cont">
    <div class="staff">
        <div class="staff-image">
          <img src="<%= asset_path( 'halim_nezihoglu.png' ) %>" alt=""/>
          <span class="staff-name">Halim Nezihoglu</span>
        </div>
        <div class="staff-short-info">
            <p>
                <b>Position:</b> Dean and Head of Department<br/>
                <b>Office:</b> A-223 (A-block, 2nd floor, A223)<br/>
                <b>Phone:</b> 0 (555) 770 310<br/>
                <b>E-mail:</b> halim.nezihoglu@iaau.edu.kg<br/>
                <b>Areas of Study:</b> National Identity, Central Asia, Middle East<br/><br/>
                <span class="staff-more"> MORE INFO</span>
            </p>
        </div>
        <div class="clear"></div>
        <div class="staff-info">
            <p>
              <b>Halim Nezihoglu</b>, having completed bachelor’s degree from Marmara University and master’s degree from Fatih University in Istanbul, and PhD at
              the Diplomatic Academy under the Ministry of Foreign Affairs of the Kyrgyz Republic, is head of the Department of International Relations
              and dean of the Faculty of Economics and Administrative Sciences at International Ataturk Alatoo University.
            </p>

            <p>
              His research interests center around national identity and ethnic relations in Central Asia and Turkey, relations between Turkey
              and Central Asian Republics, democratization process in Central Asia and the Middle East, legacies of colonialism in the Middle East.
              He worked as the main coordinator in several international congresses on such topics as “The Political Economy of Terrorism in Central
              Asia and the Role of Education among Possible Solutions”, February 20, 2003; “Security Challenges in Central Asia”, sponsored by NATO,
              February 19, 2004; “Yusuf Balasaguni and His Ideas in the Contemporary World”, sponsored by Turkish International Cooperation Agency (TICA),
              May 26, 2005; “Eurasian Societies with regard to Globalization”, March 30, 2006; “Social, Political and Economic Search in Central Asian
              Societies”, organized by Ministry of Education and Science of the Kyrgyz Republic, International Ataturk Alatoo University, Mahmud Kashgari
              Barskani Eastern University, Kocaeli University, and BILGESAM, October 22-24, 2008; and a conference on “Peaceful Coexistence in a World of
              Diversity in Global Era”, organized by the Office of the President of the Kyrgyz Republic and International Ataturk Alatoo University,
              October 11, 2011. He also edited the published books on the above-mentioned conferences. He has several published articles in academic
              journals, around such topics as ‘relations between Turkey and Central Asian Republics since the independence’, ‘national identity issue and
              ethnic relations in Kyrgyzstan’, ‘impact of globalization on national identities’, ‘patterns of national identity: the case of Kyrgyzstan and
              Turkey’, ‘An Analysis of the European Identity within the Light of European Integration Process’, etc.
            </p>

        </div>
    </div>
</div>