<% @title="Graduate | Internation Relations Department | IAAU" %>

<h3>International Ataturk Alatoo University<br/>
  Master Program in International Relations </h3>

<p>
  The Master in International Relations at International Ataturk Alatoo University is designed to provide the graduate students with a broad
  and comprehensive view on international relations, and prepare them for an international career. As the main program language is English,
  the graduates having a diploma on international relations or political science from a university in or outside Kyrgyzstan must be qualified
  in English in order to be accepted for this program. If they fail in English proficiency examination of our university, they have to attend
  preparatory school of our university for one year. If the number of applicants, who are qualified in English, is less than 8, the program will
  not be opened until another semester in which the number will be sufficient. The students, who are accepted for the program, will take courses
  for two semesters. In addition to basic and compulsory state courses such as Philosophy, English, and Computer, the students will take courses
  on subjects of international relations. Master thesis under the supervisory of a professor in political science and/or international relations
  must be submitted by the end of the following at least one, and at most three semesters. So, the Master Program can be completed within at least
  one and a half year, at most two and a half years. Here is the Master Program Curriculum:
</p>
<img src="<%= asset_path( 'grad_calendar.png' ) %>" alt="" title=""/>

<h4>Course Descriptions:</h4>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT601 The Globalization of World Politics</h4></div>
    <div class="course-descr">
      This course is an examination of several current world problems with a focus on creating world order. It is an introductory
      course into the political science subdiscipline of international relations. There are no prerequisites. It examines current
      world problems and attempts to achieve global governance of these problems in the context of international relations, international
      organizations and international politics. In the process of this examination, you will develop the knowledge and skills necessary
      to analyze the ethical and political impact of international society and international organizations on efforts made by the
      international community to resolve those problems. The aim of this course is to provide the students with an overview of
      contemporary world politics. We will focus on definition and scope of IR, brief history of IR, major theories of IR,
      international security, international political economy, diplomacy, international organizations, global trade and finance,
      environmental issues, human rights, gender issues, regionalism, integration, nationalism, nuclear proliferation, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT603 Theories of International Relations</h4></div>
    <div class="course-descr">
      Theories of International Relations focuses on a selection of classic and contemporary texts in the study of what is
      generally referred to as “IR.” Major themes include morality and politics; debates over methods and theory; foreign
      policy and global conflict; and the search for peace. At the conclusion of the course students will demonstrate
      their understanding of various theories of international relations in analyzing a current problem of their choosing
      through the lenses of the theoretical perspectives discussed in class. Why is war so common? Are there alternatives
      to “states”? Why do persons perceive international relations as they do? These are a few questions that are explored
      in various theories of international relations. There are, concurrently, many purposes that might be served by theory.
      The objectives of this course include helping students to interpret and describe international relations, to study a
      variety of explanations for various events and non-events, and to consider various prescriptions or solutions to
      different kinds of problems.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>topINT605 Conduct of Foreign Policy / Diplomacy</h4></div>
    <div class="course-descr">
      This course reviews the theory and practice of modern diplomacy and international negotiations. It covers general theoretical approaches and ideas applied
      by scholars and practitioners to explain how professional diplomats and political leaders go about the business of conducting foreign policy through
      diplomatic means. We will discuss several theoretical approaches to the study of negotiation, including:
      • Traditional Approaches. Approaches emphasizing historical analysis, comparative study of diplomatic practices and processes
      of negotiation and significant stages of negotiation processes.
      • Rational Choice Perspectives. We will focus on fundamentals in decision theory, game theory and their insights about negotiations,
      in general, and about international negotiations, in particular.
      • Psychological Perspectives. These perspectives explore the role of the personalities of the participants in negotiation processes,
      the impact of the groups and situations in which negotiations take place on the outcome of negotiations.
      • International Mediation. Here we will examine why, when, and how third parties intervene in ongoing negotiation or conflict situation
      in order to help the principals reach an agreement.
      In order to illustrate how each of these approaches helps us understand how states handle their diplomatic dilemmas, we will use
      throughout the course a number of historical and contemporary case studies.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT607 Central Asia in World Politics</h4></div>
    <div class="course-descr">
      Since the terrorist attacks on September 11th, 2001, Central Asia and Caucasus have received unprecedented attention in
      the global media. This course introduces students to the foreign relations of Caucasus and Central Asian states, enhancing
      their ability to evaluate current events. We will focus on the Caucasus and Central Asia regions that are today composed
      of Armenia, Azerbaijan, Georgia, Uzbekistan, Turkmenistan, Tajikistan, Kyrgyzstan, and Kazakhstan and consider the influences
      of neighboring countries, such as Russia, China, Turkey as well as the global power, the United States. After a review of the
      foreign policy processes (making and behaviors), we will explore the following topics: geopolitics, diplomacy, energy security,
      foreign relations, and more.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT607 Central Asia in World Politics</h4></div>
    <div class="course-descr">
      Since the terrorist attacks on September 11th, 2001, Central Asia and Caucasus have received unprecedented attention in
      the global media. This course introduces students to the foreign relations of Caucasus and Central Asian states, enhancing
      their ability to evaluate current events. We will focus on the Caucasus and Central Asia regions that are today composed
      of Armenia, Azerbaijan, Georgia, Uzbekistan, Turkmenistan, Tajikistan, Kyrgyzstan, and Kazakhstan and consider the influences
      of neighboring countries, such as Russia, China, Turkey as well as the global power, the United States. After a review of the
      foreign policy processes (making and behaviors), we will explore the following topics: geopolitics, diplomacy, energy security,
      foreign relations, and more.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT602 Kyrgyz Politics and Foreign Policy</h4></div>
    <div class="course-descr">
      This class provides an introduction to contemporary research on politics and foreign policy of Kyrgyzstan.
      The course is structured in three parts. In the first part we review political dynamics in Kyrgyzstan.
      In the second we turn to regional politics in Central Asian region. In the final section we analyze Kyrgyz
      foreign policy.
      The major questions to be addressed by the course are: What are the main elements of politics and foreign
      policy in Central Asian region and Kyrgyzstan? How central is politics to economic development in Kyrgyzstan?
      How do Kyrgyz political and social networks determine political choices? How do economic structures in turn
      impact on politics? How important are international effects relative to domestic political features?
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT604 Current Issues in World Politics</h4></div>
    <div class="course-descr">
      This course is an examination of several current world problems with a focus on creating world order.
      It examines current world problems and attempts to achieve global governance of these problems in the
      context of international relations, international organizations and international politics. The students
      will develop the knowledge and skills necessary to analyze the ethical and political impact of international
      society and international organizations on efforts made by the international community to resolve those problems.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT606 Global Political Economy</h4></div>
    <div class="course-descr">
      This course is an introduction to theories and issues in international political economy. Our emphasis
      will be on understanding bargaining between rich and poor countries. In particular, we will examine the
      political and economic conditions conducive to the development of cooperative international economic behavior
      among countries. The first part of the course will consider three analytical approaches to interpret economic
      interaction among countries - liberalism, dependency, and mercantilism. This part of the course also will
      consider theories used to explain the evolution of international arrangements - regimes - in the international
      system. The second part of the course will focus on four issue areas of key significance for North-South relations:
      trade, money, multinationals, and commodities. Our emphasis will be on the post-World War II transformation of
      rules and behavior in these issue-areas. The third and concluding part of the course will review the theoretical
      ideas and examine the prospects of the less-developed countries in the international system and the future of
      international economic cooperation. A background in international relations, international economics, or post-World
      War II history will be an advantage.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT608 Modern Political Thought and Ideologies</h4></div>
    <div class="course-descr">
      The primary object of Political Thought is to introduce the undergraduate students in the Department of International Relations to
      theory in political science. The focus of attention is the emergence and development of democratic theory in political science.
      Modern Political Thought and Ideologies is concerned with the fundamental questions of public life. It addresses such issues as
      the nature of political authority, the relationship of the state to the individual, and the obligations and responsibilities
      that citizens owe to one another. Over the last several decades the field of political theory has undergone a remarkable revival,
      with theorists bringing insights from classic texts to bear on present day issues. This course offers an introduction to the field
      by examining a few basic concepts - "authority", "liberty", and "justice" - and discussing some of the ways in which these concepts
      have been employed in discussions of current political issues. While some of the readings draw upon "classics" in the field - e.g.,
      Plato, Aristotle, Thomas Hobbes, John Locke, David Hume, Thomas Jefferson, James Madison, and John Stuart Mill - we will also look at
      writings by present-day moral philosophers, political theorists, and social commentators and will read a number of recent Supreme
      Court decisions to see what light they cast on different ways of thinking about such issues as free speech, privacy rights, and affirmative action.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT610 Advanced Research Methods</h4></div>
    <div class="course-descr">
      This course, Research Methods, is designed for students who wish to gain an understanding of the limits and potentials
      of social science research, and for those who intend to research social phenomena scientifically. This course is intended
      to facilitate the student's awareness of the research process and their ability to conduct research in an ethical and thorough
      manner with appropriate research strategies. This course is an introduction to the methods employed in the practice of political
      science research. The two primary goals of the course are: (1) to provide new analytic tools that will help in the critical evaluation
      of a wide variety of social science material, and (2) to improve students' ability to pose and answer research questions on their own.
      The strengths and limitations of qualitative, quantitative, and formal methods will be considered.
    </div>
  </div>
  <div class="clear"></div>
</div>