<% @title="Undergraduate | Internation Relations Department | IAAU" %>

<h3>International Ataturk Alatoo University<br>
  Faculty of Economics and Administrative Sciences<br>
  Department of International Relations </h3>
<br>
<h4>Descriptions of Undergraduate Courses </h4>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO201 Introduction to Economics I</h4></div>
    <div class="course-descr">
      Nature, scope and methods of economics; a general view of the price system; consumer behavior; theory of the firm. Illustrations from the Kyrgyz economy will be given.<br>
      1.Provide students with a fundamental understanding of economics.<br>
      2.Develop basic skills in analyzing microeconomic and macroeconomic theory.<br>
      3.Incorporate current events into class discussions to provide "real world" applications.<br>
      The economic problem; theories of supply and demand; various market structures; theory of distribution.<br>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO202 Introduction to Economics II</h4></div>
    <div class="course-descr">
      National income and its determination; changes in national income, elements of public finance, money and banking, international trade, macroeconomic policy,
      economic growth and development. Illustrations from the Kyrgyz economy will be given.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT203 Political Science I</h4></div>
    <div class="course-descr">
      An introductory survey of concepts, theories, and principles of political science. The political dynamics and institutions
      of several leading nations of today; the competing philosophies of the twentieth century (democracy, communism
      and fascism). This course cannot be used to satisfy the state required government courses.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT204 Political Science II</h4></div>
    <div class="course-descr">
      The state and political thinking; political culture; freedom and authority; politics and the media; institutions of
      government; political parties; bureaucracy and administration.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAT251 Mathematics I</h4></div>
    <div class="course-descr">
      The introduction of modern mathematical methods, particularly sets, mappings and convexity, modern static
      analysis; optimization problems, saddle point problems, existence of equilibrium, fixed point theorems.
      Review the basic concepts of calculus. Discuss variables, functions, limits, continuity, derivatives, maxima
      and minima, differentials, approximate methods for finding roots, successive derivatives, parametric equations,
      mean value theorem and solution of indeterminates.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAT252 Mathematics II</h4></div>
    <div class="course-descr">
      Simple multi-sector linear systems; balanced growth in nonlinear systems; efficient allocation and growth; special
      features of competitive economics; structural and red used forms of macroeconomic models, economic dynamics.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT205 Introduction to Law</h4></div>
    <div class="course-descr">
      This course is an introductory course to the general notion of law. The course covers the following topics:
      social life and law; the significance of law; main legal principles and rules of social behaviour; basic
      concepts of the private law; distinction between public law and private law; branches of private law. An
      introductory course focusing on building a theoretical framework towards the analysis of law, and also
      developing the student's vocabulary regarding basic legal concepts and principles. The role of the state and
      of legal institutions. A brief overview of the development of different legal systems along with a survey of
      different branches of the law. During the course, "Law" students are perceived important knowledge: the meaning
      of the Constitution as the fundamental law of the country, the principles and elements of the constitutional
      order of the Kyrgyz Republic, the role and nature of the state and law at the present stage Development Framework
      , the improvement of civil society, political system, the content of the inalienable rights and freedoms of
      citizens and state responsibility for the implementation of political, economic, social and other opportunities
      for the individual, for creating conditions for a dignified life and free development rights. The aim of this
      course is mastery of the students knowledge in basic theory of law, constitutional, civil, family, labor,
      administrative, criminal and environmental law, and civil process to develop respect for law and observance of
      lawful behavior in society. Course objectives are to develop students' understanding of the legal system of the
      Kyrgyz Republic of values and functions of law in the formation of the rule of law, strengthening the rule of law
      in the country, the ability to understand the laws and regulations, enforce laws, make decisions in accordance
      with the law review legislation and practice of its application, to be guided by law and in the literature and
      based on acquired knowledge to solve specific problems arising in practice.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ELL251 Diplomatic English</h4></div>
    <div class="course-descr">
      International relations has in many respects its very own lexicon. There are phrases, expressions used in the
      field which are sui generis. These particular words and specific terms require familiarity and understanding in
      order for them to be comprehensible. Bearing these in mind this course aims to improve the general level of
      English required for the purposes of international relations of all participants. In terms of improvement, the
      course aims to focus on both reading capacity and clear expression in writing. These dual skills will be augmented
      by verbal presentations. What this course does not offer is raising the level of conversational English or grammar
      or widespread knowledge of English literature. Its primary aim is to understand written materials related to
      international relations and to be able to express clearly and concisely in written form matters relating to the
      field of diplomacy and international relations.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ELL253 Critical Thinking Skills</h4></div>
    <div class="course-descr">
      The goal of this course is for students to develop their critical thinking skills while examining important social issues
      of the day. Students will develop their skills of deduction, argument and debate.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>SOC252 Sociology</h4></div>
    <div class="course-descr">
      Fundamental concepts and principles of sociology, with emphasis on social organization, social control,
      social change and stratification, social institutions, social processes, and social relationships. Genesis
      of social maladjustments, attitudes, and behaviors in the person, the family, and the community. Social
      disorganization resulting from the unprecedented rate of social change in modern society, lagging norms,
      and phenomenal technological developments.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>PHL251 Philosophy I</h4></div>
    <div class="course-descr">
      The primary object of Political Philosophy is to introduce the undergraduate students in the Department
      of International Relations to theory in political science. The focus of attention is the emergence and
      development of democratic theory in political science. This course examines the history of political
      thought from the ancient Greeks through the medieval period. Theorists read will include Plato, Aristotle,
      Polybius, Cicero, St. Augustine, Aquinas, Dante, Marsilius of Padua. We will read and critically analyze
      their works by asking what key ideas are being expressed, what they tell us about the society in which they
      were written, and how their ideas differ from our own thoughts about politics. Political Philosophy is
      concerned with the fundamental questions of public life. It addresses such issues as the nature of political
      authority, the relationship of the state to the individual, and the obligations and responsibilities that
      citizens owe to one another. Over the last several decades the field of political theory has undergone a
      remarkable revival, with theorists bringing insights from classic texts to bear on present day issues. This
      course offers an introduction to the field by examining a few basic concepts - "authority", "liberty", and
      "justice" - and discussing some of the ways in which these concepts have been employed in discussions of current
      political issues. While some of the readings draw upon "classics" in the field - e.g., Plato, Aristotle, Thomas
      Hobbes, John Locke, David Hume, Thomas Jefferson, James Madison, and John Stuart Mill - we will also look at
      writings by present-day moral philosophers, political theorists, and social commentators and will read a number
      of recent Supreme Court decisions to see what light they cast on different ways of thinking about such issues
      as free speech, privacy rights, and affirmative action.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>PHL252 Philosophy II</h4></div>
    <div class="course-descr">
      The course explores the different accounts neoliberalism, institutionalism, Marxism, and poststructuralism
      provide of changes in government over the last twenty years, and the different theories that inform these accounts.
      The last twenty years has witnessed a transformation of the public sector in many western industrial democracies.
      This transformation is often described as one from government to governance, from bureaucracy to markets and networks.
      Good governance is now a part of the lending criteria of international bodies such as the World Bank. But what is
      governance? How should we explain its emergence? And what are its implications for public policy and democracy? This
      course examines the ways in which governance is theorized within neoliberalism, institutionalism, Marxism, and
      poststructuralism. With each theory, we begin by looking at the narrative it provides of the origins and workings
      of governance. Thereafter we look at the way in which the narrative embodies theoretical positions on rationality,
      structure and agency, and power, as well as the way in which it suggests normative proposals for public policy and
      democracy. The course also provides students, in small groups, with an opportunity to study changing patterns of
      government in a particular state, such as Australia, Canada, Denmark, the Netherlands, New Zealand, Norway, or the
      US. The course attempts to promote an awareness of the way in which questions about contemporary governance are
      inextricably linked to various theoretical and normative positions.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>Turkish (TUR251-254, 351-354)</h4></div>
    <div class="course-descr">
      The purpose of this course is to improve students’ Turkish fluency and accuracy, to help them improve their speaking
      and writing ability.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT301 History of International Relations I</h4></div>
    <div class="course-descr">
      The primary object of Political History I is to introduce the students of the Department of International
      Relations to the origins of modern nation-state system and international relations, so that they will get
      familiar with basic concepts such as nationalism, liberalism, imperialism, socialism, armament race, and
      decolonization that have underlied some modern institutions; and with significant developments and events
      such as the French Revolution, Napoleonic Wars, Industrial Revolution, Bolshevik Revolution, World Wars,
      Cold War, and disintegration of the Soviet Union that have shaped modern international system. The course
      surveys the Middle Ages from the eve of the French Revolution to the imperial age in the mid-nineteenth
      century with a special focus on the developments in Central Asian region, and such topics as Tsarist Russian
      expansionism and the emergence of Central Asian nationalities, during the first semester. Among the topics
      covered are the economic and political transformations of the 18th and 19th centuries, the flowering of science
      and industry during this same period, the highlights of European thought from Enlightenment to liberal revolutions,
      and the problems and achievements of the early modern age. Rather than studying the details of political history,
      students focus on the enduring legacy of early modern European society — the great works of art, architecture,
      poetry, political theory, theology,
      and philosophy produced during this formative period in the development of modern Western culture.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT302 History of International Relations II</h4></div>
    <div class="course-descr">
      Political History II is the continuation of Political History I in the first semester. The course surveys
      the modern age from European colonialism and imperialism to the collapse of the Soviet Union and Post-Cold
      War era. Among the topics covered are the economic and socio-political transformations of the 19th and 20th
      centuries, the flowering of rapid transportation and communication means during this same period, mass
      production and rapid industrialization, motives behind colonization such as white man’s burden and civilizing
      mission or capitalist appetite for raw materials and new markets, shifting balance of power in Europe, colonial
      rivalry, origins of World War One and WWII, post WWII international system, decolonization, Cold War, the end
      of the Cold War, and new international order.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT303 Introduction to International Relations I</h4></div>
    <div class="course-descr">
      PThe main purpose of the course is to familiarize students with the basic concepts and a general understanding
      of the international relations discipline. Issues are globalization; main international relations theories;
      realism; liberalism; world-system theory; emergence of the modern international system; the evolution of
      international society; international security in the post-Cold War era; international political economy in an
      age of globalization, etc
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>IINT304 Globalization of World Politics</h4></div>
    <div class="course-descr">
      This is the continuation and second part of the first term course Introduction to International Relations.
      Accordingly, this course provides a framework for understanding international relations by giving a broad
      introduction to international politics. The main purpose of the course is to familiarize students with the
      basic concepts and a general understanding of the international relations discipline. Diplomacy; environmental
      issues; North-South gap; poverty; gender issues; nationalism; cultural issues; the West and the Rest;
      international governmental and non-governmental organizations; international regimes; nuclear proliferation;
      humanitarian intervention; regionalism and integration; global trade and finance; human rights, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO301 Microeconomics</h4></div>
    <div class="course-descr">
      Introduces the process and analysis of resource allocation in a decentralized market economy. Special
      focus on the coordination of consumer and producer decisions through price adjustments under alternative
      market structures and public policies. Theory of choice: properties of choice, binary choice and preference,
      aggregation of choice: approval voting, voting paradox, aggregation of preferences: Arrow's Theorem, utility
      and preference, revealed preference, demand theory: the demand curve, income and substitution effects,
      consumers' surplus, pure exchange and general equilibrium: Edgeworth's solution, Walras's solution. First
      and Second Welfare Theorems, manipulation of Walrasian solution, production: production sets and production
      functions, cost functions, the competitive firm's demand, imperfect competition:
      equilibrium concepts of Cournot, Stackelberg and Bertrand, simple regulation theory.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO302 Macroeconomics</h4></div>
    <div class="course-descr">
      Introduces the nature and analysis of data and phenomena that impact the national economy.
      Special focus on the problems of inflation, recession, unemployment, international trade and
      financial system instability. Traditional Keynesian and Monetarist views of the economy within
      the context of linear dynamic economic models, introduction to expectational dynamics and "rational
      expectations" models.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT305 Comparative Politics</h4></div>
    <div class="course-descr">
      This course begins with the introduction of basic concepts used by political scientists to analyze
      political phenomena - power, authority, nation, state, political culture, political system, and the like.
      We will then use these concepts to analyze various transitions away from authoritarian government and
      toward democracy. Attention will be given to contemporary transitions (e.g., the Soviet Union, South Africa)
      as well as to the historical cases of democratization in Western Europe. This course sets out to introduce
      students to the elements of comparative analysis by examining great political currents in the modern age.
      It will begin with lectures on "pre-modern" political systems, then proceed to examine the following subjects:
      1) the economic and technological revolutions of the modern age, the rise of western global hegemony and the
      institutions of the liberal democratic state; 2) challenges to these institutions and hegemony: fascism,
      national socialism, communism (in Russia and China); 3) the "end of the cold war" and attempts to create a
      new world order based on democratic institutions and open markets; 4) a variety of responses to these attempts
      (developmental, revolutionary, populist-fundamentalist, post-modern.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT307 Constitutional Law</h4></div>
    <div class="course-descr">
      In this seminar, we explore a set of widely held assumptions called constitutionalism, and examine
      alternatives for creating, enacting, and substituting constitutions in writing. Several modern
      constitution-making efforts around the world are analyzed, with a view toward identifying tools
      or norms of universal applicability. Does a bill of rights garner for individual rights any greater
      state deference? How should regulatory powers be dispersed in federal systems? When should representation
      supplant direct government? How can change be accommodated without injury to stability? How is the rule
      of law guaranteed in a democratic republic? A study of the basis of the constitutional system and governmental
      authorities of the Kyrgyz Republic.Moreover , a study of the rights, freedoms, honor and dignity of the
      citizens of the Kyrgyz Republic. Social issues related to the constitutional system are examined in depth
      . Not only theoretical issues will be discussed, but also practical implementations will be introduced.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAN241 Introduction to Business</h4></div>
    <div class="course-descr">
      Introductory class on Management Theory. The lecture gives theoretical foundation and current issue
      on the basic topics of management. The lecture refers to the related economic theories although it mainly
      emphasizes on the firm specific factor. An introductory survey of the business world, government and society;
      basic business functions and their interrelationships; production, finance, marketing, research and development;
      introduction to management functions; organization.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAN341 Accounting</h4></div>
    <div class="course-descr">
      Introduction to basic concepts and principles of accounting; recording business transactions and year
      end adjustments, preparation of trial balance, balance sheet and income statement; opening and closing
      the accounts; detail analysis of major accounts: cash, receivables, inventory (including inventory
      valuation methods), fixed assets, current liabilities and capital accounts; going public raising capital;
      retained earnings and reserve accounts.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAN351 Statistics I</h4></div>
    <div class="course-descr">
      The course addresses an intoroductory statistics including descriptive statistics, random variables,
      distribution theory, estimation theory and hypothesis testing. The prerequisite subjects are linear
      mathematics and calculus of the first year undergraduate level. Probability theory covering permutations,
      combinations, finite sample spaces; conditional probability, random variables, functions of random variables,
      moments, moment generating function, theoretical distributions, joint distributions.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>MAN352 Statistics II</h4></div>
    <div class="course-descr">
      Elements of statistical analysis; statistical inference including estimation and tests: hypotheses;
      introduction to time-series analysis; analysis of variance, correlation; regression.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT304 Political Processes in Kyrgyzstan & Globalization</h4></div>
    <div class="course-descr">
      The purpose of this course is to analyze politics in Kyrgyzstan. The main topics are political development
      in Kyrgyzstan; historical background; freedom and authority; governmental institutions; political parties;
      civil society; non-governmental organizations; politics and media; politics and religion; nation-building
      and state-building process; post-communist politics, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT308 International Politics</h4></div>
    <div class="course-descr">
      This course introduces the study of international politics. It begins with the traditional problems that
      shaped the contemporary field of international relations (war and peace, poverty and prosperity among states)
      and goes on to consider what it means to build social science theories that try to explain them. Students will
      become familiar with some of the major IR theories and then apply them to historical case studies. Topics include:
      the development of European states and their relations in the 19th Century; World War I and the Great Depression;
      World War II and the origins of the Cold War; the "American Decade" in international political economy; crisis
      and détente; the diffusion of power during the 1970s; North-South relations; the trends toward multilateralism
      during the 1980s; the end of the Cold War; and the effects of technological change, globalization and U.S.
      prosperity on international politics in the 1990s. At the end of the course we will discuss how the events of
      September 2001 might affect current thinking about international relations and the future of the state system.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT310 Law of Diplomacy</h4></div>
    <div class="course-descr">
      The course covers major chapters of public international law, although it can not touch upon all the
      topics of a standard manual. Specific emphasis is given to the rights of the individual, (human rights,
      refugee law), the rules of international transactions (law of treaties, diplomacy), the settlement of disputes
      (responsibility, methods, ICJ) and the law of natural resources (sea, outer space, freshwaters). Although the
      approach is mainstream and aims at presenting law as it is applied by the international subjects and tribunals,
      critical thoughts will repeatedly penetrate discussions. The reader reflects the diversity of international
      legal writing: it contains chapters from major textbooks, articles from leading European and US journals, and
      primary sources.The course is based on mixed teaching techniques, the dominant element being discussions based
      on readings and on knowledge derived from other disciplines.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT401 Theory of International Relations</h4></div>
    <div class="course-descr">
      Theories of International Relations: An introduction to the theory and practice of International Relations for
      the professional degree students in the MA in International Relations Program at the Maxwell School of Syracuse
      University. The course is a survey and critique of approaches to understanding international relations from the
      perspective of the practitioner who must deal with problems of individual choice, small groups, and organizational
      factors in the conduct of International Relations.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT403 Current Kyrgyz Foreign Policy</h4></div>
    <div class="course-descr">
      The purpose of this course is to analyze formulation of Kyrgyz foreign policy in international and regional
      context. The course will focus on such topics as determinants and variables of Kyrgyz foreign policy; a
      historical background; the relations between Kyrgyzstan and the other countries in the region or throughout
      the world, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT405 Diplomacy I</h4></div>
    <div class="course-descr">
      Conventional wisdom has it that that war begins where diplomacy ends. Any war in this day and age of
      modern weapons can only bring about mass destruction and untold misery. It is self-evident, therefore,
      that we need to closely study the art and craft of diplomacy not only as a means of conduct of relations
      between nations but also as an instrument of peace, its origins, practice and limitations and how it has
      helped mankind in the course of its societal evolution. Diplomacy being as old as history itself, this course
      will attempt to analyze the history, theory and practice of diplomacy from the time of the Greek city states
      and the Roman empire, through Machiavelli, Grotius, to the modern times of Kissinger. Main topics to be covered
      during this semester are meaning and scope of diplomacy; phases in the evolution of diplomacy (traditional,
      new, Cold War, etc.); diplomacy as a communication and negotiation process and as a foreign policy instrument;
      public diplomacy; summit diplomacy; functions of diplomats; rules of effective diplomacy; theory of diplomacy;
      conference diplomacy; and future of diplomacy.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT406 Diplomacy II</h4></div>
    <div class="course-descr">
      Conventional wisdom has it that that war begins where diplomacy ends. Any war in this day and age of modern weapons can only bring about mass destruction and untold misery. It is self-evident, therefore, that we need to closely study the art and craft of diplomacy not only as a means of conduct of relations between nations but also as an instrument of peace, its origins, practice and limitations and how it has helped mankind in the course of its societal evolution. Diplomacy being as old as history itself, this course will attempt to analyze the history, theory and practice of diplomacy from the time of the Greek city states and the Roman empire, through Machiavelli, Grotius, to the modern times of Kissinger. Main topics to be covered during this semester are goals and means of foreign policy; diplomatic etiquette; the formulation of foreign policy objectives; foreign policy decision making process; foreign policy actions; diplomatic bargaining; instruments of policy; explanations of foreign policy outputs, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT407 Middle Eastern Politics</h4></div>
    <div class="course-descr">
      This course is an advanced introduction to the comparative politics of the Middle East and North Africa. It makes an effort to explain the sources of instability and violence in the region, focusing on the process of state-building and state disintegration. It examines, in comparative context, the particular experiences of Middle Eastern countries to answer questions concerning the nature of regimes, nationalism and institutional change. In doing so it links case studies to the rich theoretical literature on political development in the Third World and reviews the domestic, regional and international factors that have shaped the political landscape of the region. This is not a course on the Arab-Israeli conflict. The approach is thematic, not chronological. Nevertheless, the course begins with a broad historical overview of the region, covering the legacies of the Ottoman Empire, European colonialism and the Mandate period. Other topics include the sources of instability and revolutionary movements, conflicts between Pan Arabism, nationalism and Pan Islamism, the emergence of revolutionary regimes and monarchies, Islamic fundamentalism, and the particularly difficult processes of state-building and national integration in the heterogeneous societies of the region. The course ends by considering the case of the most recent Gulf war as a conflict in which all these forces were at work.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO441 International Economics</h4></div>
    <div class="course-descr">
      This course is an introduction to theories and issues in international political economy. Our emphasis will be on understanding bargaining between rich and poor countries. In particular, we will examine the political and economic conditions conducive to the development of cooperative international economic behavior among countries. The first part of the course will consider three analytical approaches to interpret economic interaction among countries - liberalism, dependency, and mercantilism. This part of the course also will consider theories used to explain the evolution of international arrangements - regimes - in the international system. The second part of the course will focus on four issue areas of key significance for North-South relations: trade, money, multinationals, and commodities. Our emphasis will be on the post-World War II transformation of rules and behavior in these issue-areas. The third and concluding part of the course will review the theoretical ideas and examine the prospects of the less-developed countries in the international system and the future of international economic cooperation. A background in international relations, international economics, or post-World War II history will be an advantage.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>ECO452 International Political Economy</h4></div>
    <div class="course-descr">
      The first part of the course will consider three analytical approaches to interpret economic interaction among countries - liberalism, dependency, and mercantilism. This part of the course also will consider theories used to explain the evolution of international arrangements - regimes - in the international system. The second part of the course will focus on four issue areas of key significance for North-South relations: trade, money, multinationals, and commodities. Our emphasis will be on the post-World War II transformation of rules and behavior in these issue-areas. The third and concluding part of the course will review the theoretical ideas and examine the prospects of the less-developed countries in the international system and the future of international economic cooperation. A background in international relations, international economics, or post-World War II history will be an advantage.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT411 International Law I</h4></div>
    <div class="course-descr">
      Undergraduate lecture course with discussion groups. This is a course on the role of public international law for students of political science. The focus is on what role law plays in the design and implementation of foreign policies, as well as international politics more generally. Topics that will be offered include sovereignty, treaties, and rules regarding the use of force. We will also cover areas of contemporary concern such as international terrorism, human rights, international environmental accords, and international economic law and institutions, such as those embodied in the World Trade Organization. While attention will be paid to legal doctrine and argumentation, this course will focus on the relationship between international law and international politics more generally.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT American Foreign Policy</h4></div>
    <div class="course-descr">
      This course offers an overview of key events that have shaped America’s foreign policy from the Revolutionary period to the present day. It also explores America’s strategic and ideological commitments that have shaped these events. Themes examined include America’s universalistic aspirations, its liberal and realist strains of thought, and its role as nation-builder with developing countries. The Cold War, the War on Terror, and modern-day trade policy furnish extensive case studies through which to explore these themes.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT402 International Organizations</h4></div>
    <div class="course-descr">
      This course intends to examine the evaluation of international organizations in relation to the developments in the international system. A short history of the various pacts and systems until the foundation of the league of Nations will be studied in comparison with the League of Nations and the united Nations system. The focus of this course will be generally on the international organizations of the post-war international system. NATO, the Warsaw Pact, the Arab League, the Non-Alignment movement, etc. are to be discussed from the point of political developments between East and West and North and South.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT404 Regional Integration & European Union</h4></div>
    <div class="course-descr">
      The European Union (with its 15 member states and a population of more than 370 million) has become an increasingly powerful actor in regional and global affairs and is a major factor in the emergent "new Europe". Against this background, this course sets out to introduce students to the institutional arrangements and decision-making processes in the EU. In doing so, it also serves as an introduction to comparative politics and the analysis of public policy-making. Having looked at the historical development of European integration and theoretical approaches to the study of the EU as a political system in the first part of the course, we will move on to analyze the institutions of EU government. Finally, we will shift attention towards substantive EU-policies and cover key policy developments within the EU in recent years.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT408 Third World Politics</h4></div>
    <div class="course-descr">
      This lecture course exposes students to the main debates in the field of economic and political development and underdevelopment. It covers the classic texts and scholarly traditions in the field and also gives students a sense of the frontiers of research on the political economy of development, focusing especially on the changing nature of the international economy and its impact on domestic and local economies. Although the emphasis is on arguments and analytical constructs, students will also be exposed to case material from Latin America, Asia and Africa. “Third World” includes less developed or underdeveloped countries in Africa, Latin America, and Asia. However, the course will also refer to the developing countries, which cannot be regarded as either developed or less developed. This course deals with socioeconomic and political problems of developing or "Third World" countries. Required readings focus initially on topics such as the nature of underdevelopment, the legacy of indigenous cultural traditions and divisions, the legacies of colonialism and the impact of exploitation, all emanating from more developed countries, and, then, on the problems and prospects of the development models and strategies to which developing countries have been subjected by their own authorities, and by foreign powers and agencies. The course will focus on such topics as the meaning and reasons of underdevelopment; political and economic development; modernization; theories explaining underdevelopment such as dependency school, Marxist theories, liberal school; North-South gap; general characteristics of the developing countries; the challenges of the Third World development, etc.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT410 Human Rights</h4></div>
    <div class="course-descr">
      This course begins with an introduction to basic philosophies about human rights. We will address such questions as: What are human rights? Are human rights universal? Who is responsible for protecting human rights? We will then examine basic international and regional principles, instruments and institutions addressing human rights. We will look in depth at a limited number of specific 20th century human rights cases. Finally, attention will be paid to activism for human rights international and domestically.

    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT412 Public Administrative Law</h4></div>
    <div class="course-descr">
      This course is inaptly named, but tradition controls. Actually, other law school courses take up particular aspects of administrative law, i.e., the law produced by government agencies through their regulations and case decisions. Among those courses are Corporations, Environmental Law, Federal Income Tax, Labor Law, and Securities Regulation. The course named Administrative Law deals not with the substantive law of various agencies, but with the common process by which such law is produced and challenged.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT501 CIS & Regional Integration in Central Asia</h4></div>
    <div class="course-descr">
      This course provides an analyses of regional integration in Central Asia after the disintegration of URSS. This study includes mainly the study of CIS (Commonwealth of Independent States) as an organization which was founded by the post-soviet states and marked profoundly Central Asian countries as well as other members. The regional integration processes in Central Asia were also affected by the other actors: the world powers like USA and China. In this context, analysis of (Shanghai Cooperation Organization) is of vital importance to understand regional politics. SCO was built by the initiatives of China and Russia and the Central Asian countries to counterweight the USA presence in the region. The response of USA to this question: the concept of the Greater Central Asia will be included in this study.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT503 Central Asia & Caucasus in International Perspective</h4></div>
    <div class="course-descr">
      This course examines ethnic, religious, cultural, economic, and political factors contributing to the collapse of the Soviet Union and the emergence of new successor republics in Central Asia and the Caucasus. The efforts of these republics (Azerbaijan, Uzbekistan, Turkmenistan, Kazakhstan, Kyrgystan, Tajlkistan) to achieve and sustain political and economic viability, while developing and strengthening national identities will also be studied.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT505 Russia in World Politics</h4></div>
    <div class="course-descr">
      This course will focus on contemporary Russian politics and society, with secondary attention on other countries of the former Soviet Union. What was Soviet-type socialism, and how is its legacy shaping post-Soviet Russia? Where is Russia headed toward democracy as it is known in the West, a new form of authoritarianism, reversion to the old system, or something else? The social movements that swept Russia and the other Soviet republics during the Gorbachev period will be explored. We will devote most of the course to the Yeltsin and Putin periods and current problems of political change and upheaval. Contemporary Russian politics is a caldron of buccaneer entrepreneurs, high-flying mafiosi, liberal idealists, old communists, new fascists, and charismatics and demagogues of all types, and none of these will escape our attention. The topics to be investigated include the dilemmas of transition from a command economy to capitalism, struggles among emerging social interests and groups, the changing role of the military in society, crime and social disintegration, the rise of nationalism and the search for national identity, and ethnic conflict.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT507 Turkey in World Politics</h4></div>
    <div class="course-descr">
      This course presents the development of the Turkish political system from the Ottoman period to the present. It surveys Turkish political life and institutions from a dynamic perspective, and the interaction of state, politics and society from a historical perspective. Topics covered: the history of the Turkish constitutional movement, the single-party period of the 1930s, multi-party politics since the 1940s, current issues in Turkish political life with special emphasis on secularism, civil-military relations, and problems of democracy. The objective of this course is to analyze the social and political structure of contemporary Turkey from a theoretical and historical perspective. Therefore it deals with some current issues and problems in Turkish political life such as problems of democracy, secularism and Islam, nationalism and identity, the military, civil society and new social movements, and citizenship.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT540 Nationalism & Minorities in International Perspective</h4></div>
    <div class="course-descr">
      The aim of this course is to apply theoretical approaches to nationalism to the post-Soviet context, illuminating the study of a region where any large-scale nationalist conflict would pose a serious threat to the political, economic and military stability of Europe. The course is not designed to give a 'Cook's Tour' of all the fifteen successor states. Rather, the core issues of nationalism and ethnic relations will be studies in each state in the light of the conceptual framework drawn up in the early classes. The course will be based in History and the Social Sciences. There is no language requirement, although additional reading lists can be supplied to any students who are competent in any of the East Slavonic languages. European national, ethnic, and religious minorities have for the past two hundred years been of fundamental importance to the ideology and decisionmaking in European multicultural and monocultural states. In modern Europe, minority issues are constantly debated and acted upon, both by majorities and minorities. Minority issues take up a central place in the public and intellectual debate, and also influence political decisionmaking among world leaders. Minority issues in Europe are closely connected to concepts of nationalism, identity, historical and geographical consciousness, language, cultural boundaries, stereotyping, national and international law, human rights, assimilation, and the concomitant scholarly analysis and classification of these phenomena.

    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>INT506 China in World Politics</h4></div>
    <div class="course-descr">
      This course is designed to survey major topics of the foreign policy of the People’s Republic of China (PRC). It begins with a brief introduction of a historical review of China’s role of the pre-modern world. The main body of the courses includes: (1) the development of Chinese foreign policy after the founding of the PRC, (2) China’s foreign policy toward Central Asia, (3), the domestic determinants and foreign policy decision-making in China, (4) current issues in and future of China’s foreign policy. The course aims to acquaint students with knowledge of China’s involvement in world affairs in historical and contemporary perspectives and train them with an analytical understanding of the dynamics of China’s foreign policy.
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="course-cont">
  <div class="course">
    <span class="course-arrow">&raquo;</span> <div class="course-title"><h4>RSM509 Research Methods</h4></div>
    <div class="course-descr">
      This course, Research Methods, is designed for students who wish to gain an understanding of the limits and potentials of social science research, and for those who intend to research social phenomena scientifically. This course is intended to facilitate the student's awareness of the research process and their ability to conduct research in an ethical and thorough manner with appropriate research strategies. This course is an introduction to the methods employed in the practice of political science research. The two primary goals of the course are: (1) to provide new analytic tools that will help in the critical evaluation of a wide variety of social science material, and (2) to improve students' ability to pose and answer research questions on their own. The strengths and limitations of qualitative, quantitative, and formal methods will be considered.
    </div>
  </div>
  <div class="clear"></div>
</div>